<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemon.print.orderInfo.mapper.OrderInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lemon.print.orderInfo.entity.OrderInfo">
        <id column="unitguid" property="unitguid" />
        <result column="store_id" property="storeId" />
        <result column="order_number" property="orderNumber" />
        <result column="order_pay_status" property="orderPayStatus" />
        <result column="order_print_status" property="orderPrintStatus" />
        <result column="order_delivery_status" property="orderDeliveryStatus" />
        <result column="delivery_code" property="deliveryCode" />
        <result column="is_delete" property="isDelete" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        unitguid, store_id, order_number, order_pay_status, order_print_status, order_delivery_status, delivery_code, is_delete, create_time, create_user
    </sql>

</mapper>
